[submodule "explorer"]
	path = explorer
	url = git@github.com:zhaoGuangwei/explorer.git
[submodule "libs/bft-smart"]
	path = libs/bft-smart
	url = git@github.com:zhaoGuangwei/bftsmart.git
[submodule "project"]
	path = project
	url = git@github.com:zhaoGuangwei/jdchain-project.git
[submodule "framework"]
	path = framework
	url = git@github.com:zhaoGuangwei/jdchain-framework.git
[submodule "core"]
	path = core
	url = git@github.com:zhaoGuangwei/jdchain-core.git
[submodule "test"]
	path = test
	url = git@github.com:zhaoGuangwei/jdchain-test.git
